
.container {
    text-align: center;
    background-color: #6666ff
}
h1 {
  font-family: "Avenir";
  font-size: 45px;
  color: white;
}
.nav {
  font-family: "Avenir";
  font-size: 35px;
  background-color: white;

}
.weekly_submissions {
  height: 300px;
  width: 200px;
  margin-top: 10px;
  background-color: white;
}
body {
  background-color: #6666ff;
}
.weekly_img1 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}
.images {
  border-color: #FF9933;
  border-width: medium;
}
