
.container {
    text-align: center;
    background-color: #6666ff
}
h1 {
  font-family: "Avenir";
  font-size: 45px;
  color: white;
}
.nav {
  font-family: "Avenir";
  font-size: 35px;
  background-color: white;
}
.weekly_submissions {
  margin-top: 10px;
  background-color: #6666ff;
}
body {
  background-color: #6666ff;
  align-content: center;
}
.weekly_img1 {
  margin-left: 35px;
  margin-right: 25px;
  margin-top: 10px;
}
.images {
  margin-top: 10px;
}
h2 {
  margin-top: 0px;
  text-align: center;
  font-family: "Avenir";
  font-size: 30px;
  margin-bottom: 1px;
  text-align: left;;
}
p {
  font-family: "Avenir";
  font-size: 15px;
  margin-top: 4px;
}
